<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<h4> Изменение данных пользователя   </h4>
<!-- создает форму для обновления информации о персоне -->
<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">

    <!-- поле для ввода имени персоны -->
    <label for="name">Введите имя</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red"  th:if="${#fields.hasErrors('name')}" th:errors="*{name}" >Name Error</div>
    <br/>

    <!-- поле для ввода возраста персоны -->
    <label for="age">Введите пользователя </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color: red"  th:if="${#fields.hasErrors('age')}" th:errors="*{age}" >Age Error</div>
    <br/>

    <!-- поле для ввода электронной почты персоны -->
    <label for="email">Введите email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: red"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}" >Email Error</div>
    <br/>

    <input type="submit" value="Изменить"/>
</form>
</body>
</html>


