<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>человек</title>
</head>
<body>
<h4> Данные пользователя  </h4>
<!-- выводит значение имени персоны, полученной из объекта person -->
<p th:text="${user.getName()}">VALUE</p>
<!-- выводит значение идентификатора персоны, полученного из объекта person -->
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getAge()}">VALUE</p>
<p th:text="${user.getEmail()}">VALUE</p>


<!-- создает ссылку на страницу редактирования персоны, используя идентификатор персоны -->
<a th:href="@{/{id}/edit(id=${user.getId()})}">Изменить</a>

<!-- создает форму для отправки запроса на удаление персоны с указанным идентификатором -->
<form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>
